NSI-Bravo.API/Service References/SSO/Identity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Identity" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:48202/BusinessLogic/Identity.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:48202/BusinessLogic/Identity.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:48202/BusinessLogic/Identity.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SSO.WCFService.DataContracts" />
      <xsd:import schemaLocation="http://localhost:48202/BusinessLogic/Identity.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIdentity_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IIdentity_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IIdentity_Auth_InputMessage">
    <wsdl:part name="parameters" element="tns:Auth" />
  </wsdl:message>
  <wsdl:message name="IIdentity_Auth_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthResponse" />
  </wsdl:message>
  <wsdl:message name="IIdentity_Auth_MyFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SSO.WCFService.DataContracts" name="detail" element="q1:MyFault" />
  </wsdl:message>
  <wsdl:portType name="IIdentity">
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentity/Logout" message="tns:IIdentity_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentity/LogoutResponse" message="tns:IIdentity_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Auth">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentity/Auth" message="tns:IIdentity_Auth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentity/AuthResponse" message="tns:IIdentity_Auth_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IIdentity/AuthMyFaultFault" name="MyFaultFault" message="tns:IIdentity_Auth_MyFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIdentity" type="tns:IIdentity">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IIdentity/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Auth">
      <soap:operation soapAction="http://tempuri.org/IIdentity/Auth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyFaultFault">
        <soap:fault use="literal" name="MyFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Identity">
    <wsdl:port name="BasicHttpBinding_IIdentity" binding="tns:BasicHttpBinding_IIdentity">
      <soap:address location="http://localhost:48202/BusinessLogic/Identity.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>